body {
  margin: 0;
}


.btn-add-todo {
  background-color: #3600CC;
  width: auto;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  color: white;
  outline: none;
  border: 1px solid transparent ;
  cursor: pointer;
}

.input-todo {
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  outline: none;
  border: #04052E solid 1px;
  margin-right: 8px;
}

.todo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.list-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  justify-content: space-between;
  margin-left: 800px;
  margin-right: 800px;
}

.list-item {
  font-size: 16px;
}

.remove-button {
  background-color: #FB4D3D;
  width: auto;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  color: white;
  outline: none;
  border: 1px solid transparent ;
  cursor: pointer;
}

.link-users {
  margin: 16px 24px 16px 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.user-icon {
  height: 20px;
  width: 20px;
  margin-left: 12px;
  margin-right: 8px;
}

.user-list {
  margin-left: 24px;
  color: #0c0c3f;
}

.name-input {
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  outline: none;
  border: #04052E solid 1px;
  margin-right: 8px;
}
.password-input {
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  outline: none;
  border: #04052E solid 1px;
  margin-right: 8px;
}

.btn-signin {
  background-color: #3600CC;
  width: auto;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  color: white;
  outline: none;
  border: 1px solid transparent ;
  cursor: pointer;
}

.signin-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}